@model GraniteHouse.Models.ViewModels.AppointmentViewModel

<br /><br />
<form method="get">
    <h2 class="text-info">Appointment List</h2>
    <br />
    <div class="container border rounded" style="background-color: aliceblue;">
        @* We will add search criteria *@
        <div class="row" style="padding: 15px;">
            <div class="col-2">
                Full Name
            </div>
            <div class="col-3">
                @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-2">
                Email
            </div>
            <div class="col-3">
                @Html.Editor("searchEmail", new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="row" style="padding: 15px;">
            <div class="col-2">
                Phone Number
            </div>
            <div class="col-3">
                @Html.Editor("searchPhone", new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="col-2">
                Appointment Date
            </div>
            <div class="col-3">
                @Html.Editor("searchDate", new { htmlAttributes = new { @class = "form-control", @id = "datepicker" } })
            </div>
        </div>

        <div class="row" style="padding: 15px;">
            <div class="col-2">
            </div>
            <div class="col-3">
            </div>
            <div class="col-2">
            </div>
            <div class="col-3">
                <button type="submit" name="submit" value="Search" class="btn btn-primary form-control">
                    <i class="fas fa-search"></i> Search
                </button>
            </div>
        </div>
    </div>
    <br /><br />

    <table class="table table-striped border">
        <thead>
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(a => a.Appointments.FirstOrDefault().SalesPersonId)
                </th>
                <th>
                    @Html.DisplayNameFor(a => a.Appointments.FirstOrDefault().AppointmentDate)
                </th>
                <th>
                    @Html.DisplayNameFor(a => a.Appointments.FirstOrDefault().CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(a => a.Appointments.FirstOrDefault().CustomerPhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(a => a.Appointments.FirstOrDefault().CustomerEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(a => a.Appointments.FirstOrDefault().isConfirmed)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Appointments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(a => item.SalesPerson.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(a => item.AppointmentDate)
                    </td>
                    <td>
                        @Html.DisplayFor(a => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(a => item.CustomerPhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(a => item.CustomerEmail)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(a => item.isConfirmed)
                    </td>
                    <td>
                        <partial name="~/Views/Shared/_TableButtonPartial.cshtml" model="@item.Id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn border" page-class-normal="btn btn-default active"
         page-class-selected="btn btn-primary active" class="btn-group m-1">
    </div>



</form>

@section Scripts{
    <script>

        $(function () {
            $("#datepicker").datepicker({
                minDate: +1, maxDate: "+3M"
            });
        });
    </script>
}

